/* This file is to contain the CSS related to the projects section of index.html */

article#projects details {
    margin-bottom: 10px;
}

article#projects hr {
    margin: 0%;
    margin-bottom: 10px;
}
 
iframe#calculatorProject.iframeWindow {
    width: 100%;
    height: 165px;
}

iframe#hangmanProject.iframeWindow {
    height: 600px;
}